<!DOCTYPE html>
<html lang="{{ lang }}" class="{{ classNames.html }}">
<head>
    {% block head %}
      <title class="{{ classNames.title }}">{%- block title -%}{%- endblock -%}</title>
      {% embed "head.twig" %}
      {% endembed  %}
    {% endblock %}
</head>
<body>
  <header>
    <section>
      {% block header %}{% endblock %}
    </section>
    {% block meta %}{% endblock %}
    <nav>
      {%- block nav -%}{%- endblock -%}
    </nav>
  </header>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  {{ include('footer.twig') }}
</body>
</html>
