{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title class="{{ classNames.title }}">{%- block title -%}{{ parent() }}{%- endblock -%}</title>
{% endblock %}
<!-- styles -->
{{ include('style.html') }}
{{ include('theme.html') }}
{% block style %}
{% endblock %}
<!-- /styles -->
