{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="title">{{- text }}</h1>
<div class="notification">
  <p>Testing <a href="https://twig.symfony.com/doc/3.x/templates.html">Twig 3.0</a> And <a
      href="https://bulma.io/documentation">Bulma CSS Framework</a></p>
</div>
<div class="notification">
  <dl>
    <dd><code>_self</code></dd>
    <dt>{{ _self }}</dt>
    <dd><code>_charset</code></dd>
    <dt>{{ _charset }}</dt>
    <dd><code>_context</code></dd>
    <dt>
      <ul>
        {% for key, item in _context %}
        <li>{{ key }}: {{ item }}</li>
        {% endfor %}
      </ul>
    </dt>
  </dl>
</div>
{% endblock %}
