{% extends "base.twig" %}

{% block title %}Open Productivity - Now{% endblock %}

{% block header %}
<h1>Open Productivity Now</h1>
<p>Sharing my <em>plans</em> managed in <a href="https://taskwarrior.org/">TaskWarrior</a> after getting inspired by <a href="https://noeldemartin.com/now">Noel De Martin</a>.</p>
<p>All times are in timezone Europe/Berlin.</p>
{% endblock %}

{% block meta %}
<section id="meta"><p>Last updated on {{ meta.updated|longDateStamp }}.</p></section>
{% endblock %}

{% block nav %}
Tags: <a href="#active">Active</a> | <a href="#planned">Planned</a> | <a href="#closed">Closed</a>
{% endblock %}

{% block main %}
{% if data_active %}
<section id="active">
  <h2>Active - currently focused on&hellip;</h2>
  {% for task in data_active %}
  {% set task_category = 'ACTIVE' %}
  {{ include('task_article.twig') }}
  {% endfor %}
</section>
{% endif %}
{% if data_ready %}
<section id="planned">
  <h2>Planned - planning to work on this soon&hellip;</h2>
  {% for task in data_ready %}
  {% set task_category = 'READY' %}
  {{ include('task_article.twig') }}
  {% endfor %}
</section>
{% endif %}
{% if data_completed %}
<section id="closed">
  <h2>Closed - Finished tasks&hellip;</h2>
  <p>This list shows all task closed in the last month (<a href="https://taskwarrior.org/docs/durations.html">30 days</a>).</p>
  {% for task in data_completed %}
  {% set task_category = 'CLOSED' %}
  {{ include('task_article.twig') }}
  {% endfor %}
</section>
{% endif %}
{% endblock %}
