body {
  font-family: 'Share Tech Mono', consolas, monospace;
  color: #47B9B7;
  background-color: #0D1F18;
}

/* Layout: grid */
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 400;
}

main,
header {
  margin: 1em;
}

nav {
  margin: 1em 0;
}

dt {
  font-style: italic;
  opacity: 0.6;
}

footer,
header,
section {
  padding: 1em;
}

footer {
  margin: 1em;
  text-align: center;
}

section>article>h3 {
  font-size: 1.4em;
  padding-top: 1em;
  margin-top: 1em;
}

header>section,
header>nav {
  border: none;
  border-radius: 0;
  padding: 0.5em 0;
  margin: 0;
}

header>nav {
  padding-top: 1em;
}

.annotations {
  list-style-type: square;
  padding: 0;
  margin: 0 0 1em 1em;
}

.annotations li {
  margin-top: 0.25em;
}

.annotations li:first-child {
  margin-top: inherit;
}

.annotations time {
  font-weight: 600;
  display: block;
}

.annotations .text {
  display: block;
  position: relative;
}

.annotations .text a {
  display: inline-block;
}

@media (min-width: 400px) {
  .annotations .text a {
    max-width: 265px;
  }
}

@media (min-width: 480px) {
  .annotations .text a {
    max-width: 400px;
  }
}

@media (min-width: 560px) {
  .annotations .text a {
    max-width: 30vw;
  }
}

section {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section>h1,
section>h2,
section>p {
  flex: 0 0 100%;
  margin: -.5em;
  padding: 1em;
}

section>article {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.meta dd {
  margin: 0 0 .5em 0;
}
