/* Inspired by Zach and Angelica's "chill" page
   <https://coolguy.website/chill/>
*/
body {
  font-family: 'Share Tech Mono', consolas, monospace;
  color:  #0D1F18;
  background-color: #99ccff;
}
body {
  background: linear-gradient(-45deg, #66ccff, #99ccff, #ccccff, #99ccff, #99ffff, #99ffcc, #66ffcc, #66cccc);
  background-size: 400% 400%;
}

header > nav,
#meta {
  padding: 0.5rem;
}

section > article {
  flex: 2 2 33%;
}
